<form method="POST" action="/puppy">
      <label for="phrase">Enter your :</label>
      <input type="text" id="phrase" name="name">
      <label for="phrase">Enter your phrase:</label>
      <input type="text" id="phrase" name="breed">
      <label for="phrase">Enter your phrase:</label>
      <input type="text" id="phrase" name="age">
      <input type="submit">
    </form>
